
:root {
    /* Palette de couleur */
    --primary-color-light: rgb(244, 195, 164);
    --primary-color-black: rgb(0, 0, 0);
    --primary-color-dark: rgb(183, 116, 102); 
    --primary-color-danger: rgb(255, 225, 175) ; 
    
 }
    /* Display font sizes (use these instead of a SASS map) */


body {
    font-family: var(--bs-body-font-family);
    background-color: var(--primary-color-light);
    color: var(--primary-color-black);
 
}
.banniere  {
    display: inline-block;
    width: 100%;
    background-color: var(--primary-color-dark);
    vertical-align: middle;
}
.banniere_menu{
    color: var(--primary-color-dark);
    margin-right: 50px;
    font-size: 1.5rem;
}

.nav-link{ 
color: var(--primary-color-dark);
}
.nav-link:hover {
    color: var(--bs-white);
    background-color: var(--primary-color-black);
    border-radius: 0.25rem;
}
